      <div id="content">
        <div id="header">
          <h1>VWJL Admin</h1>
          <h2>Virtual World Judo League</h2>
        </div>

          <ul>
            <li> <a href="/admin/users">Users</a>
            <li> <a href="/admin/competitions">Competitions</a>
            <li> -+-
            <li> <a href="/admin/database">iInitialise Database</a>
          </ul>
      </div>
    </div>
