      <div id="content">
        <div id="header">
          <h1>VWJL Admin</h1>
          <h2>Virtual World Judo League</h2>
        </div>

          <h1>Users ([% total_users %])</h1>
          <ul>
            [% FOREACH user IN users %]
              <li> [% user.username %]: ([% user.wins %]/[% user.losses %])
            [% END %]  
          </ul>
      </div>
    </div>
